!!! 5
/[if lt IE 7] 
  %html{:class => 'lt-ie9 lt-ie8 lt-ie7'}
/[if IE 7] 
  %html{:class => 'lt-ie9 lt-ie8'}
/[if IE 8] 
  %html{:class => 'lt-ie9'}
/[if gt IE 8] 
%html

  %head
    %meta{:charset => 'utf-8'}/
   
    -# can't use 'ruby 1.9 hash' syntax with attributes containing '-' (so using rocket-hash'):
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/   

      
    -# below are using 'Ruby 1.9 hash' syntax instead of rocket hash => syntax:
    %meta{name: 'description', content: data.page.description}/
    %meta{name: 'keywords', content: ''}/
    %meta{name: 'viewport', content: 'width=device-width'}/
    
   
    %title 
      = "Suko443: " + current_page.data.title || "Suko443" 
    
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif'
    = stylesheet_link_tag 'all'

    /[if lte IE 7]
      -# (icomoon generated css for ie7 not working, so using js) = stylesheet_link_tag '/assets/css/fonts/icons/ie7/ie7'
    
    /[if lt IE 9]             
      = stylesheet_link_tag 'all-old-ie' 
      = javascript_include_tag  'shiv'
  
  %body{class: page_classes} 

    <!--ZOOMSTOP-->
    = partial '_templates/partials/header'
    <!--ZOOMRESTART-->

    /a HTML comment
    -# a HAML comment (will not be rendered into html comment)

    %main
      #centre

        -if current_page.path == '/subdir/'
          %h1
            Webdev section
        -elsif current_page.path == 'index.html'
          /omit h1 heading here on homepage
        -else
          %h1
            = current_page.data.title

        = yield 


    <!--ZOOMSTOP--> 
    = partial '_templates/partials/footer'

    -# VISUAL GUIDE FOR SCREEN WIDTHS - TO HIDE ON DEPLOY
    / #bptest
    /   &nbsp;
        
    = javascript_include_tag  'all'
    /[if lte IE 7]
      = javascript_include_tag '/assets/css/fonts/icons/ie7/ie7'
      